<%- include('../includes/head.ejs') %>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="initial-scale=1.0">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <div id="user_lat"" data-lat=<%= lat %>> </div>
            <div id="user_lng"" data-lng=<%= lng %>> </div>

            <div id="filterDiv" style="display:none">
                <div id="markerList">
                </div>
            </div>

            <div id="reportResponseDiv" style="display:none">
                <h3>Thanks for your response!</h3>
            </div>

            <div id="alertMessageDiv" style="display:none">
                <h3 id="alertMessage"></h3 >
            </div>

            <div id="reportDiv" style="display:none">
                <h3>report this marker ?</h3>
                <h3 id="markerInfoReport"></h3 >
                <br>
                <button id="sendReport">Send</button>
                <button id="cancelReport">Cancel</button>
            </div>
            
            <div id="map"></div>
            <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
            <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>

            <%- include('../common/define.ejs') %>
            <%- include('../common/error.ejs') %>
            <%- include('database.ejs') %>
            <%- include('mapService.ejs') %>
            <%- include('map.ejs') %>
            <%- include('markerUtils.ejs') %>
            <%- include('mapUtils.ejs') %>
            <%- include('markerFilter.ejs') %>
            <%- include('windowInfoUtils.ejs') %>
            <%- include('arrayUtils.ejs') %>
            
            <%- include('../includes/end.ejs') %>